@import "tailwindcss";

@keyframes floatleft {
  0%, 100% {
    transform: translateX(+7px);
  }
  50% {
    transform: translateX(-20px);
  }
}

@keyframes floatright {
  0%, 100% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(+20px);
  }
}

